<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <% if(typeof watch !== 'undefined' && watch){ %>

    <script src="//localhost:<%= watch %>/livereload.js"></script>
    <% } %>

    <% if(typeof prod !== 'undefined' && prod) { %>

    <script src="main.js"></script>
    <% }else{ %>

    <script src="js/lib/requirejs/require.js" data-main="js/main.js"></script>
    <% } %>

    <style type="text/css">
        body {
            font-family: "segoe ui", "Arial", "Helvetica", "sans-serif";
            font-size: 12pt;
        }
    </style>
</head>
<body>
    <div data-ng-controller="layoutCtrl">
        <h1>{{title}}</h1>
    </div>
    <hr>
    <div data-current-time></div>
</body>
</html>